@model Project.ViewModels.Home.LoginVM

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset class="login">
    <legend>Login</legend>
    
    <form action="/Home/Login" method="post">
        <div class="grid">
            <div class="row">
             @*//   <div class="col-1">Username: </div>*@
                <div class="col-2"> <i class="fas fa-user"></i>@Html.TextBoxFor(m => m.Username, new { @class = "login-form", placeholder = "Username" })</div>
                <div class="col-3">@Html.ValidationMessageFor(m => m.Username, null, new { @class = "error" })</div>
            </div>
            <div class="row">
                @*<div class="col-1">Password: </div>*@
                <div class="col-2"><i class="fas fa-lock"></i>@Html.TextBoxFor(m => m.Password, new { @class = "login-form", placeholder = "Password", type = "password" })</div>
                <div class="col-3" > @Html.ValidationMessageFor(m => m.Password,null,new { @class = "error"})</div>
            </div>
            <div class="row">
                <div class="col-3">@Html.ValidationMessage("AuthenticationFailed")</div>
            </div>
            <div class="row">
                <div class="col-3"><input type="submit" value="Login"/></div>
            </div>

        </div>

    </form>
</fieldset>